.about {
    margin-top: 20px;
}
.adout__image{
    margin: 0 auto;
    
}

.about__links {
    display: flex;
    justify-content: center;
    column-gap: 200px;
}

.about__link{
    display: block;
    padding: 10px;
    background-color: rgb(62, 120, 167);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    transition: background-color 0.3s;
}
.about__link:hover {
    background-color: #9ebdeb;
}
